/* Global Styles */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* Fallback */
    height: 100dvh;
    /* Dynamic Height for mobile browsers */
    background-color: #000;
    color: #fff;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    /* Prevent scrolling absolutely */
    position: fixed;
    /* Lock body on iOS */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}