/* Global Styles */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* Fallback */
    min-height: 100vh;
    /* Dynamic Height for mobile browsers */
    background-color: #000;
    color: #fff;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}